body{
    background: repeating-linear-gradient(45deg, rgba(92, 201, 245, 0.3), rgba(212,214,217, 0.3) 75px);
    font-family: helvetica, arial, sans;
    overflow: scroll;
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
}

.Navbar{
    position: fixed;
    z-index: 30;
    background-color: #000;
    height: 6vh;
    width: 100vw;
    top:0;
    text-align: right;
}
.Logo-Wrapper{
    float: left;
    height: 3vh;
    width: 2.5vw;
    border-radius: 15px;
    margin: 0.7vh 1.5vh;
} 

.Navbar .nav-links a {
    text-decoration: unset;
    top: 2vh;
    bottom: 2vh;
    right: 4vh;
    margin: 4vh;
    position: relative;
    color: whitesmoke;
    }

.Navbar .nav-links a:hover{
    color: #0073bc;
    text-decoration: underline;
}

 .Download h3{
    margin: 10vh 0 0;
    text-align: center;
    width: auto;
    font-size: 2vh;
    color: #000;
}

.Download a{
    text-decoration: unset;
}

.Download h3:hover{
    color: #0073bc;
    text-decoration: underline;
}

.Resume img{
    position: absolute;
    height: 140vh;
    width: 60vw;
    margin: 8vh auto;
    left: 0;
    right: 0;
}

.Footer{
    position: absolute;
    background-color: lightgrey;
    height: 35vh;
    width: 100vw;
    text-align: center;
    bottom: -85vh;
}

.Footer img{
    height: 18vh;
    width: 15vw;
    padding-top: 2.5vh;
    position: relative;
}

.social-links{
    
    padding-top: 4vh;
    position: relative;
    bottom: 0;
    z-index: 0;
    text-align: center;
}

.social-links a{
    display: inline-block;
    box-sizing: border-box;
    padding-top: 1.3vmin;
    margin: 0 25px;
    background-color: white;
    color: #0073bc;
    font-size: 3.3vmin;
    height: 6.2vmin;
    width: 6.2vmin;
    border-radius: 99px;
}

.social-links a:hover{
    color: white;
    background-color: #0073bc;
}
