---
layout: default
title: About Page
custom_css: about
---

{% include navbar.html %}



<div class = "Banner">
<img src="images/Site-Self-Pic.png" alt="">

<div class= "Name-Banner">
    <h1>Kyle Keough</h1>
    <h3>I do Data Science, Statistics, Software Development, Web Design, and Personal Train on the side</h3>
</div>
</div>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi nihil aperiam accusantium quod error autem. Autem, culpa corrupti quas, voluptatibus unde provident sunt iste accusantium molestias a et numquam adipisci.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quasi repudiandae, saepe laborum fuga, veniam mollitia harum atque ratione itaque magni porro quia dolor dolorum dignissimos deserunt dolorem ipsum eligendi.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, explicabo accusantium sunt quis odio, aperiam consequuntur aliquid delectus quasi laboriosam fugit. In at temporibus eius perspiciatis corporis doloremque optio aspernatur?
</p>

<!-- <p>Programmer from New Jersey in pursuit of my official Jack of all Trades 
certificate. After moving to Philly I find myself as a Minnesota sports 
fan trying to survive in the heart of Eagles country. First and foremost
my experience comes as a data scientist after completing my masters in 
data science and strategic analytics at Stockton University. Along the 
way I've done all I can to expand the tool box and learn as much as I can 
in a wide range of domains. Through this I've gained experience and 
knowledge with software development, web development and design, dev ops
and more. At the end of the day I'm just a kid that loves learning new 
things and is willing to take any new language, technology, challenge, 
or metaphorical curveball in stride. On a non-software note, 
I supplement my life of countless hours sitting at my laptop by staying 
active as a triple certified personal trainer with a concentration in 
sports performance. Helping to keep the office in shape can come free
of charge as an added bonus to any coding contributions.
</p> -->



{% include socials.html %}