---
layout: default
custom_css: main
title: You've Got Kale dot Blog
---

{% include navbar.html %}


<div class = "Hero">
    <img src="images/City-Hero.png" alt="hero">
    <h1>Kyle Keough</h1>
    <ul>
        <li>Data</li>
        <li>Development</li>
        <li>Design</li>
    </ul>
</div>
<div class = "Break">
    <p>Projects
        <br>
        <i class="fas fa-chevron-down"></i>
    </p>
</div>
<div class = "Background">
    <div class="Content-Wrapper">
        
        
        <div class = "Content">
            <a href="baseball_viz.html">
                <img style="border: 1px black solid;" src="images/Baseball_Viz.png" alt="Baseball Plotly Visualization">
                </a>
                <span class = "Text">
                    <h3>MLB Stats Plotly Site</h3>
                    <p>Using historical MLB player, team and league
                       data, created Plotly website with 
                       dynamic graphs to display different statistics 
                       based on user selections
                    </p>
                </span>
        </div>

        <div class = "Content">
            <a href="nba_hof.html">
            <img src="images/bballHOF.png" alt="Basketball-HOF-Logo">
            </a>
            <span class = "Text">
                <h3>NBA HOF Classifier</h3>
                <p>Using historical NBA statistics to determine the 
                   percentage chance each player has of already being in 
                   the Hall of Fame or being inducted in the future
                </p>
            </span>
        </div>

        <div class = "Content-Background">
        <div class = "Content">
            <a href="indego_bikes.html">
                <img src="images/indego_bikes.png" alt="Indego_Bikes">
            </a>    
            <span class = "Text">
            <h3>Indego Bikes</h3>
            <p>Analysis using Indego Bikes data to spot trends,
               investigate the impact of weather on ride numbers and 
               model the number of rides using regression
            </p>
            </span>
            
        </div>
        
        <div class = "Content">
            <a href="pandas_compressor.html">
            <img src="images/Artboard 1.png" alt="Pandas Compressor">
            </a>
            <span class = "Text">
                <h3>Pandas Data Compressor</h3>
                <p>Module to minimize the memory footprint
                   of a Pandas dataframe by converting columns to the 
                   most efficient possible datatype
                </p>
            </span>
        </div>
        </div>
        <div class = "Content">
           <a href="images/SeniorThesis.pdf">
               <img src="images/Healthcare.png" alt="Healthcare">
           </a>
           <span class = "Text">
                <h3>Senior Thesis</h3>
                <p>Analysis of the history and current (2018) climate of
                    employer sponsored healthcare based on firm size 
                    using linear regression and historic trends
                </p>
           </span>
        </div>
    </div>
    <div class = "Arrow" id = "Arrow-id"></div>
</div>  

    
    {% include socials.html %}
