---
layout: default
---



{% include navbar.html %}

        
        {% include project_header.html %}

        <div class = "Wrapper">
        
        <div class = "Row">
        <div class = "Column">

        {{ content }}

        </div>
        <div class = "Column">
        <div class = "Jump-To">
            <h2>Jump To</h2>
            <div class="Project">
                <a href="baseball_viz.html">
                <img style = "border: 1px solid black" src="images/Baseball_Viz.png" alt="Plotly Baseball Viz">
                </a>
                <div class = "Text">
                <h3>MLB Plotly Site</h3>
                </div>
            </div>
            <div class="Project">
            <p>
            </p>

            </div>

            <div class="Project">
                <a href="nba_hof.html">
                <img src="images/bballHOF.png" alt="NBA HOF Log Reg">
                </a>
                <div class = "Text">
                <h3>NBA HOF Classifier</h3>
                </div>
            </div>
            <div class="Project">
            <p>
            </p>

            </div>

            <div class="Project">
                <a href="indego_bikes.html">
                <img src="images/indego_bikes.png" alt="Indego Bikes">
                </a>
                <div class = "Text">
                <h3>Indego Bikes Analysis</h3>
                </div>
            </div>
            <div class="Project">
            <p>
            </p>

            </div>
            
            <div class="Project">
                <a href="pandas_compressor.html">
                <img src="images/Artboard 1.png" alt="Pandas Compressor">
                </a>
                <div class = "Text">
                <h3>Pandas Data Compressor</h3>
                </div>
            </div>
            <div class="Project">
            <p>
            </p>

            </div>
            
            <div class="Project">
                <a href="images/SeniorThesis.pdf">
                <img src="images/Healthcare.png" alt="Health Care Coverage">
                </a>
                <div class = "Text">
                <h3>Senior Thesis</h3>
                </div>
            </div>
            <div class="Project">
            <p>
            </p>

            </div>
        </div>
        </div>
    </div>
    </div>
    

{% include socials.html %}
